body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 22px;
}
h1 {
  color: #3d242d;
}
h2 {
  color: #bd5533;
}
.red {
  color: #92140c;
}
.grey {
  color: grey;
}
.line-height {
  margin-bottom: 20px;
}
#subtitle {
  font-weight: bold;
  font-style: italic;
}